<div class="block" id="about">
    <div class="about-block">
        <h1 class="topic">{{ title }}</h1>
        <div class="text-block">
            {{ description }}
        </div>
    </div>
</div>