<header class="header header-size">
    {{#each sections}}
        <a class="menu-item" href="{{ this.href }}">{{ this.name }}</a>
    {{/each}}
</header>
<div class="image-block shadow-block banner-block-size">
    <img class="banner-image banner-image-size" src="{{ background }}">
    <img class="logo-image inner-image-size" src="{{ logo }}">
</div>