<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sizes.css">
</head>
<body id="body">
    {{> header}}
    {{{ body }}}
</body>
</html>